<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <h1>Name: {{userData.name}}</h1>
    <h2>Info:</h2>
    <p>Birth Year: {{ userData.yearOfBirth }}</p>
    <p>Hobbies: {{ userData.hobbies }}</p>
</body>

</html>
